.quiz-section {
  @include outer-container;
}
.row {
  @include span-columns(12);
  @include omega;
}
.card {
  @include span-columns(4 of 12);
  height: 400px;
  margin-right: 1%;
  padding-top: 10px;
  @media (max-width: $brk-1){
    @include span-columns(6 of 12);
    margin-right: 1%;
  }
  @media (max-width: $brk-2){
    @include span-columns(12 of 12);
    @include omega;
  }
}
.first-card {
  @include span-columns(8 of 12);
  margin-right: 1%;
  .card-image {
    width: 600px;
    height: 300px;
    margin: 0 auto;
  }
  @media (max-width: $brk-1){
    @include span-columns(12 of 12);
    @include omega;
  }
  @media (max-width: $brk-2){
    @include span-columns(12 of 12);
    margin-right: 1%;
    @include omega;
    height:275px;
    .card-image {
      width: 300px;
      height: 150px;
      margin: 0 auto;
    }
  }
}
