.button {
  display: inline-block;
  width: 48%;
  height: 65px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: black;
  background: transparent;
  padding: 20px 60px;
  margin: 0 5px 5px 0;
  border: 2px solid black;
  border-radius: 10px;

}
