
.button {
  display: inline-block;
  width: 45%;
  @include button;
  a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    vertical-align: middle;
    color: $text-grey;
  }
  &:hover{
    background-color: red;
    cursor: pointer;
  }
}
