//Global
* {
  @include reset;
}
body {
  background-color: $grey;
  font-family: sans-serif;
}
section {
  @include clearfix;
  padding: 10px;
  div {
    padding: 5px;
  }
}

//Cards
.card {
  @include omega;
  display: block;
  position: relative;
  &:nth-of-type(1){
    background: linear-gradient(rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 0.4)),
    url(../img/pic_1.jpg);
  }
  &:nth-of-type(2){
    background: linear-gradient(rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5)),
    url(../img/pic_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  &:nth-of-type(3){
    background: linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.4)),
    url(../img/pic_3.jpg);
  }
  &:nth-of-type(4){
    background: linear-gradient(rgba(255,255,0, 0.6), rgba(255,255,0, 0.6)),
    url(../img/pic_4.jpg);
  }
  &:nth-of-type(5){
    background: linear-gradient(rgba(255,0,255, 0.4), rgba(255,0,255, 0.4)),
    url(../img/pic_5.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-image {
    background-color: $yellow;
    position: relative;
    z-index: 2;
    height: 150px;
    width: 250px;
    @extend %center;
    overflow: hidden;
    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }
  .card-header {
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    position: relative;
    z-index: 2;
    padding: ($base-spacing) ($base-spacing) 0 ($base-spacing);
    text-align: center;
  }
  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding-top: 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    @extend %center;
    text-align: center;
    h3 {
      margin: 0 0 ($base-spacing / 2);
      text-align: center;
    }
  }
  @include card;
}
