//Global
* {
  @include reset;
}
body {
  background-color: $grey;
}
section {
  @include clearfix;
  padding: 10px;
  div {
    padding: 5px;
  }
}
.quiz-section {
  @include outer-container;

}
//Cards
.card {
  @include card;
  @include span-columns(3 of 12):
  .card-image {
    background-color: $card-image-hover-color;
    height: 150px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 150px;
    }
  }
  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }
  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
