//Global
* {
  @include reset;
}
body {
  background-color: $grey;
}
section {
  @include clearfix;
  padding: 10px;
  div {
    padding: 5px;
  }
}

//Cards
.card {
  @include omega;
  .card-image {
    background-color: $card-image-hover-color;
    height: 150px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }
  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing) ($base-spacing) 0 ($base-spacing);
    text-align: center;
  }
  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding-top: 10px;

    h3 {
      margin: 0 0 ($base-spacing / 2);
      text-align: center;
    }
  }
  &:focus,
  &:hover {
    cursor: pointer;
    img {
      opacity: $card-image-hover-opacity;
    }
  }
  @include card;
}
