@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin article-reset {
  padding: 0;
  overflow: hidden;
}
@mixin card {
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  // transition: all 0.6s ease-in-out;
}
